<?xml version="1.0"?>
<!--
/**
 * Copyright © Buhmann. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <layered_navigation>
                <stock_status_enabled>1</stock_status_enabled>
                <stock_status_request_var>stock_status</stock_status_request_var>
                <stock_status_available>1,0</stock_status_available>
                <stock_status_multiselect>2</stock_status_multiselect>
                <stock_status_position>last</stock_status_position>
            </layered_navigation>
        </catalog>
    </default>
</config>
